<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv_show.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tv_show.show_time %>
</p>

<p>
  <strong>Is Favourite:</strong>
  <%= @tv_show.is_favourite %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @tv_show.channel_name %>
</p>

<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
